APP_NAME="Juan Dev API"
APP_ENV=production
APP_KEY=base64:GENERAR_CON_php_artisan_key_generate
APP_DEBUG=false
APP_TIMEZONE=UTC
APP_URL=https://juan-dev.app-dev.icu/api
FRONTEND_URL=https://juan-dev.app-dev.icu
CORS_ALLOWED_ORIGINS=https://juan-dev.app-dev.icu
SANCTUM_STATEFUL_DOMAINS=juan-dev.app-dev.icu

APP_LOCALE=es
APP_FALLBACK_LOCALE=es
APP_FAKER_LOCALE=es_ES

LOG_CHANNEL=stack
LOG_STACK=single
LOG_LEVEL=error

DB_CONNECTION=mysql
DB_HOST=localhost
DB_PORT=3306
DB_DATABASE=u201159527_juan_dev
DB_USERNAME=u201159527_juan_dev
DB_PASSWORD=PEGAR_PASSWORD_MYSQL_HOSTINGER

SESSION_DRIVER=file
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=.app-dev.icu

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=sync
CACHE_STORE=file

MAIL_MAILER=log
MAIL_FROM_ADDRESS="no-reply@juan-dev.app-dev.icu"
MAIL_FROM_NAME="Juan Dev"

VERTEX_AI_PROJECT_ID=bot-whatsapp-ia-492111
VERTEX_AI_LOCATION=us-central1
VERTEX_AI_MODEL=gemini-1.5-flash-002
VERTEX_AI_CREDENTIALS_PATH=/home/u201159527/domains/app-dev.icu/public_html/juan-dev/api/storage/app/vertex-chatbot.json

MONGO_DB_URI=
MONGO_DB_DATABASE=juan_dev_metrics
ADMIN_NAME="Juan Campo"
ADMIN_EMAIL=
ADMIN_PASSWORD=